In [3]:
read0`:test.txt

"3   4"
"4   3"
"2   5"
"1   3"
"3   9"
"3   3"

In [4]:
/ skip two blank column inbetween
/ just lists as output - so no enlist for second 
("J  J";" ")0:`:test.txt

3 4 2 1 3 3
4 3 5 3 9 3

In [6]:
/ new feature from 4.1 - pattern matching
(a;b):("J  J";" ")0:`:test.txt
(a;b)

3 4 2 1 3 3
4 3 5 3 9 3

# Problem 1
To find the total distance between the left list and the right list, add up the distances between all of the pairs you found. In the example above, this is 2 + 1 + 0 + 1 + 2 + 5, a total distance of 11!
Your actual left and right lists contain many location IDs. What is the total distance between your lists?

Solution: sum absolute distances between sorted lists

In [11]:
/ sort both
asc@'(a;b)

1 2 3 3 3 4
3 3 3 4 5 9

In [12]:
/ subtract
.[-]asc@'(a;b)

-2 -1 0 -1 -2 -5

In [14]:
/ result
sum abs .[-]asc@'(a;b)

11

# Problem 2

This time, you'll need to figure out exactly how often each number from the left list appears in the right list. Calculate a total similarity score by adding up each number in the left list after multiplying it by the number of times that number appears in the right list.
Once again consider your left and right lists. What is their similarity score?

Solution: sum of product of number of occurences

In [16]:
(a;b)

3 4 2 1 3 3
4 3 5 3 9 3

In [15]:
/ occurences
a in/:b

010000b
100011b
000000b
100011b
000000b
100011b

In [17]:
/ number of occurences
sum a in/:b

3 1 0 0 3 3i

In [18]:
/ similarity score
sum a*sum a in/:b

31