In [66]:
input:"J"$#[-1;] each 0N!read0 `test.txt
input

("Player 1 starting position: 4";"Player 2 starting position: 8")

4 8

In [67]:
/ after at most 2000 rolls game will be over
show -10#rolls:3 cut 2004#1+til 100

75 76  77
78 79  80
81 82  83
84 85  86
87 88  89
90 91  92
93 94  95
96 97  98
99 100 1
2  3   4

In [68]:
show turns:2 cut sum each rolls

6   15
24  33
42  51
60  69
78  87
96  105
114 123
132 141
150 159
168 177
186 195
204 213
222 231
240 249
258 267
276 285
294 103
12  21
30  39
48  57
66  75
84  93
..

In [69]:
smod10:{1+(x+y-1) mod 10}
show scores:smod10\[input;turns]

10 3
4  6
6  7
6  6
4  3
10 8
4  1
6  2
6  1
4  8
10 3
4  6
6  7
6  6
4  3
10 8
4  1
6  2
6  1
4  8
10 3
4  6
..

In [70]:
show cumscores:raze sums scores
show idx:first where 1000<=cumscores

10 3 14 9 20 16 26 22 30 25 40 33 44 34 50 36 56 37 60 45 70 48 74 54 80 61 8..
330

In [71]:
show numRounds:3*idx+1

993

In [72]:
show loserScore:cumscores idx-1

745

In [73]:
/ part 1
numRounds*loserScore

739785

In [74]:
/part 2
show toss3sum:count each group sum flip a cross a cross a:1 2 3

3| 1
4| 3
5| 6
6| 7
7| 6
8| 3
9| 1

In [75]:
/ player's depth, position, cum score, and number of observed corresponding universes
states:([pl1:`boolean$();depth:`long$();pos:`long$();sc:`long$()]nu:`long$())

/ position score depth
genUniverses:{[p1;d;p;s;n]
    exN:first states[(p1;d;p;s)];
    $[not null exN;
        update nu:exN+n from `states where pl1=p1,depth=d,pos=p,sc=s;
        `states upsert ([pl1:enlist p1;depth:enlist d;pos:enlist p;sc:enlist s]nu:enlist n) 
     ];
    if[s<21;
        newP:smod10[p;] each key toss3sum;
        newS:s+newP;
        newN:n*value toss3sum;
        .z.s[p1;d+1]'[newP;newS;newN];
     ];
 }

genUniverses[;0;;0;1]'[10b;input]

select from states where pl1,depth=1

::
::

pl1 depth pos sc| nu
----------------| --
1   1     7   7 | 1
1   1     8   8 | 3
1   1     9   9 | 6
1   1     10  10| 7
1   1     1   1 | 6
1   1     2   2 | 3
1   1     3   3 | 1

In [76]:
sumStates:select sum nu by pl1,depth,sc from states
select from sumStates where depth=3,sc=6

pl1 depth sc| nu
------------| --
0   3     6 | 12
1   3     6 | 37

In [77]:
p1:select d:depth,s1:sc,n1:nu from sumStates where pl1=1b
p2:select d:depth,s2:sc,n2:nu from sumStates where pl1=0b

select win2:sum n1*n2 from ej[`d;p1;p2] where s1<21,s2>20

win2
---------------
341960390180808

In [78]:
p2:select d:depth+1,s2:sc,n2:nu from sumStates where pl1=0b
select win1:sum n1*n2 from ej[`d;p1;p2] where s2<21,s1>20

win1
---------------
444356092776315