In [97]:
input:"J"$"," vs first read0 `:input.txt
input

1 4 3 3 1 3 1 1 1 2 1 1 1 4 4 1 5 5 3 1 3 5 2 1 5 2 4 1 4 5 4 1 5 1 5 5 1 1 1..

In [80]:
count each group input

3| 2
4| 1
1| 1
2| 1

In [82]:
til[9]#count each group input

0|
1| 1
2| 1
3| 2
4| 1
5|
6|
7|
8|

In [89]:
cnt:0^value til[9]#count each group input
cnt

0 1 1 2 1 0 0 0 0

In [91]:
/ ageing by 1 day is equivalent to left shift AND placing number of matured fish to days 6 and 8
x:3 1 1 2 1 0 0 0 0
@[0^next x;6 8;+;x 0] / using "Apply At" - add first elemnt to 6th and 8th in a shifted vector

1 1 2 1 0 0 3 0 3

In [86]:
/ do 80 times and sum resulting counts
sum 80 {@[0^next x;6 8;+;x 0]}/ cnt

5934

In [90]:
sum 256 {@[0^next x;6 8;+;x 0]}/ cnt

26984457539

In [99]:
"J"$"," vs first read0 `:test.txt;
\ts:100 sum 256 {@[0^next x;6 8;+;x 0]}/ 0^value til[9]#count each group input

40 22032